# USE CASE
## Create a student database stored as .sqlite
Inside the database, create three tables.

- One table for students = student_id, first_name, last_name, age, gender
- Second table for courses = course_id, course_name, credits
- Third table for enrollments = enrollment_id, student_id, course_id, enrollment_date, grade

Once complete, commit and close

In [ ]:
# Import necessary libraries

In [ ]:
# Create the database and the tables

In [ ]:
# Insert data into the tables

In [ ]:
# Connect to the database (using both the terminal and python)

In [ ]:
# View the existing tables

In [ ]:
# Select all female students

In [ ]:
# Show the two oldest students

In [ ]:
# Count the students per gender

In [ ]:
# Show the full names using an alias

In [ ]:
# Filter the data to show the age of students above 20
# Use both WHERE and HAVING as different queries

In [ ]:
# Use an inner join to show students with their course names

In [ ]:
# Find students not enrolled in any course

In [ ]:
# Perform all the joins

In [ ]:
# Explain the relationships
# If not existing, add tables to help show all the relationships